PORT=9999
JWT_SECRET=supersecret
ADMIN_SUPER_SECRET=AM I THE BOSS?
REQUESTS_PER_MINUTE=60
MONGODB_URI=mongodb://localhost:27017
DB_NAME=growth_copilot
OPENROUTER_API_KEY=
OPENROUTER_MODEL=openai/gpt-4o-mini
SERPAPI_API_KEY=
SERVICE_TOKEN=
